*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Varela Round", sans-serif;
  background-color: #eeeee2;
  
}

.form {
  background-image: linear-gradient(#e3e6dd, #d4d3c6);
  position: absolute;
  text-align: center;
  border-radius: 16px;
  padding: 120px 50px;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 20%;
  
}

.block-1, .block-2 {
  display: flex;
  justify-content: space-around;
}

.block-2 {
  /*flex-direction: row-reverse;*/
}

.photo_block {
  background-image: url(images/photoHelen.jpg);
  background-size: cover;
  width: 40%;
}

.photo{
  margin: 20px;
  border-radius: 10%;
  width: 500px;
  box-shadow: 2px 2px 33px #000000ab;
}

.banner-wrapper {
  background-image: url(images/yana-pokora-walldenoise.jpeg.jpg);
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 120px;
}

.interst_block{
  text-align: left;
  cursor:pointer;
  width: 60%;
  padding: 0 5%;
}

.name_baner{
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vision{
  font-size: 1.8rem;
  margin: 20px;
}

.deep_into{
  margin-top: 20px;
  text-align: left;
  cursor:pointer;
  width: 60%;
  padding: 0 5%;
}

.key_skills{
  text-align: left;
  margin-top: 20px;
    width: 40%;
}

.milestones_block{
  text-align: left;
  margin-top: 20px;
}

.milestones_block h2{
  margin: 10px;
}


.milestones_block h3{
  margin: 10px;}

.respons{
  margin-top: 20px;
  font-size: 1rem;
}

.milestones_block ul{
  padding: 20px;
}

.proc_scratch{
  padding: 3px;
}